.list {
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  justify-content: right;
}

.warp {
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px;
  width: 300px;
}

label {
  display: flex;
  justify-content: center;
}

input[type='text'] {
  border-color: transparent;
  margin: auto;
  height: 30px;
}

input[type='text']:focus {
  border-color: transparent;
  outline: none;
}

button.searchTerm {
  border-color: transparent;
  background-color: transparent;
}

button.searchTerm:hover {
  color: rgb(255, 0, 0);
  cursor: pointer;
}

ul {
  padding: 0;
}

ul,
li {
  list-style-type: none;
  width: 100%;
}

li:hover {
  background-color: azure;
  cursor: pointer;
}

button.btn-tg {
  border-color: transparent;
  background-color: transparent;
}

button.btn-tg:hover {
  color: rgb(255, 0, 0);
  cursor: pointer;
}
