<h2>Data {{ title }}</h2>
<table>
  <tr>
    <td><b>Name</b></td>
    <td>::</td>
    <td>
      {{ data.name }}
    </td>
  </tr>
  <tr>
    <td><b>Birth Year</b></td>
    <td>::</td>
    <td>
      {{ data.birth_year }}
    </td>
  </tr>
  <tr>
    <td><b>Eye Color</b></td>
    <td>::</td>
    <td>
      {{ data.eye_color }}
    </td>
  </tr>
  <tr>
    <td><b>Gender</b></td>
    <td>::</td>
    <td>
      {{ data.gender }}
    </td>
  </tr>
  <tr>
    <td><b>Hair Color</b></td>
    <td>::</td>
    <td>
      {{ data.hair_color }}
    </td>
  </tr>
  <tr>
    <td><b>Height</b></td>
    <td>::</td>
    <td>
      {{ data.height }}
    </td>
  </tr>
  <tr>
    <td><b>Mass</b></td>
    <td>::</td>
    <td>
      {{ data.mass }}
    </td>
  </tr>
  <tr>
    <td><b>Skin Color</b></td>
    <td>::</td>
    <td>
      {{ data.skin_color }}
    </td>
  </tr>
  <tr>
    <td><b>Data Created</b></td>
    <td>::</td>
    <td>
      {{ data.created | date }}
    </td>
  </tr>
  <tr>
    <td><b>Data Edited</b></td>
    <td>::</td>
    <td>
      {{ data.edited | date }}
    </td>
  </tr>
</table>
