<h2>Data {{ title }}</h2>
<table>
  <tr>
    <td><b>Name</b></td>
    <td>::</td>
    <td>
      {{ data.name }}
    </td>
  </tr>
  <tr>
    <td><b>Classification</b></td>
    <td>::</td>
    <td>
      {{ data.classification }}
    </td>
  </tr>
  <tr>
    <td><b>Designation</b></td>
    <td>::</td>
    <td>
      {{ data.designation }}
    </td>
  </tr>
  <tr>
    <td><b>Average Height</b></td>
    <td>::</td>
    <td>
      {{ data.average_height }}
    </td>
  </tr>
  <tr>
    <td><b>Average Lifespan</b></td>
    <td>::</td>
    <td>
      {{ data.average_lifespan }}
    </td>
  </tr>
  <tr>
    <td><b>Eye Color</b></td>
    <td>::</td>
    <td>
      {{ data.eye_colors }}
    </td>
  </tr>
  <tr>
    <td><b>Hair Color</b></td>
    <td>::</td>
    <td>
      {{ data.hair_colors }}
    </td>
  </tr>
  <tr>
    <td><b>Skin Color</b></td>
    <td>::</td>
    <td>
      {{ data.skin_colors }}
    </td>
  </tr>
  <tr>
    <td><b>Language</b></td>
    <td>::</td>
    <td>
      {{ data.language }}
    </td>
  </tr>
  <tr>
    <td><b>Data Created</b></td>
    <td>::</td>
    <td>
      {{ data.created | date }}
    </td>
  </tr>
  <tr>
    <td><b>Data Edited</b></td>
    <td>::</td>
    <td>
      {{ data.edited | date }}
    </td>
  </tr>
</table>
